#hello {
    color: green;
}

.title {
    font-size: 25px;
    text-align: center;
    color: red;
    text-transform: uppercase;
    font-style: italic;
}

#bg{
    height: 50px;
    background: gray;
}